<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5360357758-gqphq6uhn23b3b0fovo9amq1o7crjv4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5360357758-gqphq6uhn23b3b0fovo9amq1o7crjv4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAuA5SfJyZceNnEojgi_rqYsaqK2Vjv1kY</string>
	<key>GCM_SENDER_ID</key>
	<string>5360357758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batuhanbaran.Pokemon</string>
	<key>PROJECT_ID</key>
	<string>pokemon-dd434</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-dd434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5360357758:ios:e4376a6727e9ca4ee3e32f</string>
</dict>
</plist>